{% load helper_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <body>
        <h1>{{p.name}}
            <a href="https://www.wikidata.org/wiki/{{ p.qid }}">
                [Wikidata]
            </a>
        </h1>
            ( 
            {% if p.birth %}    
                {{ p.birth }}
            {% endif %}
            &ndash;
            {% if p.death %}    
                {{ p.death }})
            {% endif %}
            )
       

        {% if p.occupation %}
            <h2>{{ p.occupation }}</h2>
        {% endif %}

        <p>
            {% if have_detail %}
                {{ p.name }} was 
                {% if p.gender or p.occupation %}
                    a {{ p.gender }} {{ p.occupation }} 
                {% endif %}
                {% if p.nationality %}
                    from {{ p.nationality }} 
                {% endif %}.

                {% if p.aliases %}
                    {{ they|title }} {{ were }} also known as 
                    {{ p.aliases }}.
                {% endif %}
            </p>
            <p>
                {% if p.birthname %}
                    {{ their|title }} birth name was {{ p.birthname }}. 
                {% endif %}

                {% if p.birthplace %}
                    {{ they|title }} {{were}} born in {{ p.birthplace }}.
                {% endif %}
            </p>
            <p>
                {% if p.spouse %}
                    {{ they|title  }} {{were}} married to {{ p.spouse|title }}
                    {% if spouse_wasguest %}
                    , who was also a guest
                    {% endif %}
                .
                {% endif %}
            {% endif %}
        </p>
                {% if p.deathcause %}
                    <p>
                    {{ they|title }} died 
                        {% if p.death %} 
                            in {{ p.death }} 
                        {% endif %}
                    due to {{ p.deathcause }}.
                    </p>
                {% endif %}
        
        {% if party_list %}
        <h2>Soirées attended:</h2>
            <ul>
            {% for p in party_list %}
                <li>
                    <h3>{{ p.party.day|default_if_none:'' }} 
                        {{ p.party.month|month }} 
                        {{ p.party.year }}</h3>
                    {% for s in p.sources %}
                    <blockquote>
                    <p>{{ s.quote }}</p>
                    <cite>{{ s.book.citation }} pp.{{ s.pages }}</cite>
                    </blockquote>
                    
                    {% endfor %}
                    {% if p.others %}
                        <h4>Other guests were</h4>
                        <ul>
                        {% for guest in p.others %}
                            <li>
                                <a href="{% url 'person' guest.qid %}">
                                    {{ guest.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ they|title }} was not mentioned at any soirées.</p>
        {% endif %}

    </body>
</html>
