{% load helper_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <body>
        <h1>{{ p }}</h1>
        This is {{ p.name }}. 
        Their QID is {{ p.qid }}.

        Their <a href="https://www.wikidata.org/wiki/{{ p.qid }}">Wikidata page</a>.

        {% if p.birth %}    
            They were born on {{ p.birth }}
        {% endif %}

        <h1>Character Sheet for {{ p.name }}
            ( 
            {% if p.birth %}    
                {{ p.birth }}
            {% else %}
                ?
            {% endif %}
            &ndash;
            {% if p.death %}    
                {{ p.death }})
            {% else %}
                ?
            {% endif %}
            )
        </h1>

        {% if p.occupation %}
            <h2>Short description: {{ p.occupation }}</h2>
        {% endif %}

        <p>
            <!-- {{ longdescription }} -->
            {% if have_detail %}
                {{ p.name }} was 
                {% if p.gender or p.occupation %}
                    a {{ p.gender }} {{ p.occupation }} 
                {% endif %}
                {% if p.nationality %}
                    from {{ p.nationality }}. 
                {% endif %}

                {% if p.aliases %}
                    {{ subj_pron|title }} was also known as 
                    {{ p.aliases }}.
                {% endif %}
            </p>
            <p>
                {% if p.birthname %}
                    {{ poss_pron|title }} birth name was {{ p.birthname }}. 
                {% endif %}

                {% if p.birthplace %}
                    {{ subj_pron|title }} was born in {{ p.birthplace }}.
                {% endif %}
            </p>
            <p>
                {% if p.spouse %}
                    {{ subj_pron|title  }} was married to {{ p.spouse|title }}
                    {% if spouse_wasguest %}
                    , who was also a guest
                    {% endif %}
                .
                {% endif %}
            {% endif %}
        </p>
                {% if p.deathcause %}
                    <p>
                    {{ subj_pron|title }} died 
                        {% if p.death %} 
                            in {{ p.death }} 
                        {% endif %}
                    due to {{ p.deathcause }}.
                    </p>
                {% endif %}
        


        {% if parties %}
        <h2>Soirées attended:</h2>
            <ul>
            {% for party in parties %}
                <li>
                    <h3>{{ party.pt.day|default_if_none:'' }} 
                        {{ party.pt.month|month }} 
                        {{ party.pt.year }}</h3>
                    {{ party.quote }}
                    {% if party.others %}
                        <h4>Other guests were:</h4>
                        <ul>
                        {% for guest in party.others %}
                            <li>
                                <a href="{% url 'person' guest.qid %}">
                                    {{ guest.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ subj_pron|title }} did not attend any soirées.</p>
        {% endif %}

    </body>
</html>
