{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3 Babbage Party Storylines</title>

    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }

        .tooltip {
            opacity: 0;
            position: absolute;
            top: -15px;
            padding: 0.4em 0.4em;
            background: #fff;
            text-align: center;
            border: 0.5px solid #bbbbbb;
            transition: all 0.1s ease-out;
        }
    </style>
</head>
<body>
    <h1>Charles Babbage's Saturday Soirées</h1>

    <div id="storylines">
        <div id="tooltip" class="tooltip">
            Name: <span id="names"></span>
        </div>
    </div>
    

    <script src="{% static 'scripts/d3.v6.js' %}"></script>
    <script src="{% static 'scripts/partyBalloons.js' %}"></script>
    <script>
        console.log("Hey, look at me!");
        drawBalloons("{% url 'api_balloon' %}");
    </script>
</body>
</html>
